body{
    background: lightgray;
    text-align: center;
    padding: 100px;
}
input[type=text], input[type=password]{
    width: 25%;
    padding: 12px 10px 10px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
button{
    width: 80px;
    height: 25px;
}
button:hover{
    opacity: 0.8;
}
img{
    width: 15%;
}

